{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}
{% block auth %}

<main class="mt-5 pt-4">
    <div class="container wow fadeIn card">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center" style="font-family: 'Libre Baskerville', serif;">Reset Password 🔒</h2>

      <!--Grid row-->
      <div class="row justify-content-center">

        <!--Grid column-->
        <div class="col-md-6">
            <p class="card-text mb-2">Fill the form below to change your password.</p>
            {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
                <p class="card-text mb-2">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
            {% if form %}
        <form method="POST" action="{{ action_url }}" enctype="multipart/form-data" style="padding-bottom: 50px;">
            {% csrf_token %}
            {{ form|crispy }}

            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <button type="submit" class="btn btn-primary">Change</button>
        </form>
        {% else %}
        <p class="text-center mt-2">{% trans 'Your password is now changed.' %}</p>
        You can login <a href="{{ account_login }}" class="txt2">
            HERE
        </a>
        {% endif %}
    {% endif %}
    

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>

    
{% endblock auth %}
    
