{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block pro %}
active
{% endblock pro %}
{% block content %}

<main class="mt-5 pt-4">
    <div class="container wow fadeIn card">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center" style="font-family: 'Libre Baskerville', serif;">Update Profile</h2>

      <!--Grid row-->
      <div class="row justify-content-center">

        <!--Grid column-->
        <div class="col-md-6">

        <form method="POST" enctype="multipart/form-data" style="padding-bottom: 50px;">
            {% csrf_token %}
            {{ u_form|crispy }}
            {{ p_form|crispy }}

            <button type="submit" class="btn btn-primary">Update</button>
            <input
                action="action"
                onclick="window.history.go(-1); return false;"
                type="submit"
                class="btn btn-secondary btn-block"
                value="Cancel"
            />
        </form>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>

    
{% endblock content %}
    
